body {
	background-image:url(logo/1.png)
}
h2 {
	color:green
}
h2{
	background-color:black
}
img{
	background-color:black
}
h1{
	color:green
}
h1{
	background-color:black
}
a {
	color:green
}