h3 {
	color:white
}
a {
	color:green
}
body {
	background-image:url(logo/2.png);
}
h2 {
	color:green
}
h2 {
	background-color:black
}
img {
	background-color:black 
}
h1 {
	color:white 
}
h1 {
	background-color:black
}
h3 {
	color:green
}
h3 {
	background-color:black
}
h4 {
	color:green
}
h4 {
	background-color:black
}
